* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:850px;
    display: flex;
    justify-content:space-evenly;
}

#main-container{
    display: flex;
    height:850px;
    width:800px;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 672px;
    height: 672px; 
}

.hover {
    background-color: rgb(255, 224, 24);
}

#dimensions-button{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

#left-hand-elements {
    width:350px;
    height: 850px;
    display:flex;
    margin: 90px 0 0 0;
    justify-content: center;
    
}

#right-hand-elements{
    display:flex;
    width:350px;
    height: 850px;

}