* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:850px;
    display: flex;
    justify-content:space-evenly;
}

#main-container{
    display: flex;
    height:850px;
    width:800px;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 218, 240);
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 672px;
    height: 672px; 
}


#dimensions-button{
    display: flex;
    height: 30px;
    width:180px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin: 90px 0 0 0;
}

#left-hand-elements {
    width:350px;
    margin: 0;
    height: auto;
    display:flex;
    justify-content: center;
    background-color: rgb(242, 89, 179);
    border-right: 10px double rgb(44, 37, 41);
}

#right-hand-elements{
    display:flex;
    width:350px;
    height: auto;
    background-color: rgb(242, 89, 179);
    border-left: 10px double rgb(44, 37, 41);
}